<div class="formats">
  <div class="container">
    <h2 class="formats__heading">Формати навчання
    </h2>

    <div class="box">

      <img src="assets/img/formats.png" alt="" class="formats__image">

      <div class="formats__text-container">
      <div class="formats__text text">
        <h3 class="text__heading">Індивідуальні заняття</h3>
        <p class="text__description">План
          навчання підбирається особисто під Ваш запит. Довжина уроку 60 хвилин.</p>
        <a href="https://forms.gle/BEesiwLdeaG5G7RM7" class="button type--A">
          <div class="button__line"></div>
          <div class="button__line"></div>
          <span class="button__text">300 гривень</span>
          <div class="button__drow1"></div>
          <div class="button__drow2"></div>
        </a>      </div>

        <div class="formats__text text">
          <h3 class="text__heading">Парні заняття</h3>
          <p class="text__description">Якщо хочеться ‘живої’ практики,
            проте не готові до групи. Можливість займатись зі знайомими.</p>
          <a href="https://forms.gle/BEesiwLdeaG5G7RM7" class="button type--A">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">200 гривень</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>        </div>
      </div>
    </div>
  </div>

  <img src="assets/img/formats-background.png" alt="" class="formats__background">
</div>
