<div class="lesson">
  <div class="container">
    <h2 class="lesson__heading">Записатись на заняття</h2>

    <div class="box">

      <div class="lesson__card">
        <img src="assets/img/number_1.png" alt="" class="lesson--image">
        <p class="lesson__paragraph">Перед початком співпраці заповніть
          коротку анкету нижче.</p>
      </div>

      <div class="lesson__card">
        <img src="assets/img/number_2.png" alt="" class="lesson--image">
        <p class="lesson__paragraph">Безкоштовна консультація на
          15-20 хвилин, щоб я оцінила Ваше говоріння.</p>
      </div>

      <div class="lesson__card">
        <img src="assets/img/number_3.png" alt="" class="lesson--image">
        <p class="lesson__paragraph">Домовляємось про комфортний час для проведення уроків.</p>
      </div>
    </div>

    <div class="lesson__button">
    <a href="https://forms.gle/BEesiwLdeaG5G7RM7" class="button type--A">
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">Запис на урок</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>
    </div>
  </div>
</div>
