<div class="hero">
  <div class="container">
    <div class="box">
      <div class="hero__text">
      <h1 class="hero__heading">
        Уроки англійської, де навчання відчувається як захоплива пригода.
      </h1>
        <p class="hero__description">
          Привіт! Я - Аня, твій наставник у світі англійської мови.
        </p>

        <a routerLink="/" fragment="advantages" class="button type--A">
          <div class="button__line"></div>
          <div class="button__line"></div>
          <span class="button__text">Дізнатись деталі</span>
          <div class="button__drow1"></div>
          <div class="button__drow2"></div>
        </a>
      </div>

      <div class="hero__image-container">
        <img src="assets/img/hero.png" alt="" class="hero__image" >

      </div>
    </div>
  </div>
  <img src="assets/img/hero-background.png" alt="" class="hero__background">
</div>
