<div class="advantages">
  <div class="container">
    <h2 class="advantages__heading">Чому саме мої заняття?</h2>

    <div class="box">
      <div class="advantages__text">
        <div class="advantages__text-heading">
          Маючи сертифікат TESOL і займаючись на курсі C1,</div>
        <div class="advantages__text-description">
          я гарантую професійний підхід до навчання, відповідно до
          Ваших потреб та цілей занять.</div>
      </div>

      <div class="advantages__text advantages__text_end">
        <div class="advantages__text-heading">На моїх
          уроках панує комфортна атмосфера, </div>
        <div class="advantages__text-description">де к
          ожен студент відчуває себе впевнено, що
          сприяє більш ефективному засвоєнню матеріалу.</div>
      </div>

      <img src="assets/img/cat.png" alt="" class="advantages__image">

      <div class="advantages__text ">
        <div class="advantages__text-heading">
          Я допомагаю студентам подолати мовний бар’єр,</div>
        <div class="advantages__text-description">що дозволяє їм вільно спілкуватися з
          іноземцями та розуміти англійську мову в будь-яких життєвих ситуаціях.</div>
      </div>

      <div class="advantages__text advantages__text_end">
        <div class="advantages__text-heading">
          Під час занять я використовую інтерактивні матеріали,
        </div>
        <div class="advantages__text-description">що додає мотивації до навчання,
          а також автентичні ресурси, завдяки чому англійська стає частиною життя учнів.
        </div>
      </div>
    </div>
  </div>
</div>
